
@font-face{
  src: url("./fonts/Starjedi.ttf");
  font-family: starjedi;
}


@font-face{
  src: url("./fonts/Starjout.ttf");
  font-family: starjout;
}

@font-face{
  src: url("./fonts/Stjldbl1.ttf");
  font-family: stjldbl1;
}

@font-face{
  src: url("./fonts/Stjldbl2.ttf");
  font-family: stjldbl2;
}

@font-face{
  src: url("./fonts/Strjmono.ttf");
  font-family: stjmono;
}


@-webkit-keyframes fall {
  0% { transform: rotate(0); transform-origin: top left; -webkit-animation-timing-function: ease-in-out; animation-timing-function: ease-in-out; }  
  20%, 60% { transform: rotate(80deg); transform-origin: top left; -webkit-animation-timing-function: ease-in-out; animation-timing-function: ease-in-out; }  
  40% { transform: rotate(60deg); transform-origin: top left; -webkit-animation-timing-function: ease-in-out; animation-timing-function: ease-in-out; } 
  80% { transform: rotate(60deg) translateY(0); opacity: 1; transform-origin: top left; -webkit-animation-timing-function: ease-in-out; animation-timing-function: ease-in-out; } 
  100% { transform: translateY(700px); opacity: 0; display: none;}
}
@keyframes fall {
  0% { transform: rotate(0); transform-origin: top left; -webkit-animation-timing-function: ease-in-out; animation-timing-function: ease-in-out; }  
  20%, 60% { transform: rotate(80deg); transform-origin: top left; -webkit-animation-timing-function: ease-in-out; animation-timing-function: ease-in-out; }  
  40% { transform: rotate(60deg); transform-origin: top left; -webkit-animation-timing-function: ease-in-out; animation-timing-function: ease-in-out; } 
  80% { transform: rotate(60deg) translateY(0); opacity: 1; transform-origin: top left; -webkit-animation-timing-function: ease-in-out; animation-timing-function: ease-in-out; } 
  100% { transform: translateY(700px); opacity: 0; display: none; }
}

:root {
  --bg-dark: rgb(24, 24, 24);
  --bg-light: #e4e4e4;
}

*{
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

 ::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #212529;
}

::-webkit-scrollbar-thumb {
  background: #FFE81F;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
} 

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: black;
  text-align: center;
  font-family: starjedi;
  cursor: url(../img/tie.cur), auto;
}

#body{
  visibility: hidden;
}

#loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  text-align: center;
  visibility: visible;
}

.row {
  width: 100%;
  height: 150px;
  margin: 2rem auto;
  position: absolute;
}
.cell {
  position: relative;
  top: 0%;
  left: 35%;
  display: inline-block;
  width: 70%;
  text-align: center;
}

.fall {
  -webkit-animation: fall 4s;
          animation: fall 4s;
}

.star {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: white;
}

.navbar{
  position: fixed;
  top: 0;
  left: 20%;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.nav-link{
  color: #e4e4e4;
  border-bottom: 2px solid rgba(0,0,0,0);
}

.nav-link:hover {
  color: #FFE81F;
  border-bottom: 2px solid #FFE81F;
  transform: perspective(150px) rotateX(35deg);
  transform-origin: 50% 100%;
}

.navbar .menu-toggle {
  display: none;
}

.nav-links .hide-toggle {
  display: none;
}

#logo{
  max-height: 50px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  margin-top: 10px;
  display: none;
  position: absolute;
  background-color: #212529;
  min-width: 160px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  z-index: 1;
}

.dropdown-content a {
  color: #e4e4e4;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: #FFE81F;
  transform: perspective(300px) rotateX(25deg);
  transform-origin: 50% 100%;
}

.dropdown:hover .dropdown-content {display: block;}
.dropdown:active .dropdown-content{display:block}

.main #svg{
  max-width: 150px;
  margin-top: 7%;
}

.hr{
  margin-left: 300px;
  margin-right: 300px;
  border:2px solid #FFE81F;
  border-radius: 25px;
}

.info{
  position: fixed;
  right: 0px;
  top: 5%;
  padding: 20px;
  padding-right: 20px;
  background-color: #FFE81F;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  /* font-family: stjldbl2; */

}

.info:hover{
  padding-right: 40px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

h1{
  font-size:50px;
  text-align:center;
  color:#FFE81F;
  padding:1%;
  padding-top: 0%;
  transform: perspective(300px) rotateX(25deg);
  transform-origin: 50% 100%;
  font-weight: bolder;
}

#answer, #answer1, #answer2, #answer3{
  padding: 15px;
  background: #FFE81F;
  color: #212529;
  border: 2px solid #212529;
  font-size: 2rem;
  font-weight: 900;
  transform: perspective(300px) rotateX(25deg);
  transform-origin: 50% 100%;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  border-radius: 5px;
  font-family: starjout;
  margin-left: 30px;
}

#answer:hover, #answer1:hover,
#answer2:hover, #answer3:hover{
  background: #212529;
  color: #FFE81F;
  transform: perspective(100px) rotateX(28deg);
  transform-origin: 50% 100%;
}

#learn_more{
  padding: 15px;
  background: none;
  color: #FFE81F;
  border: 2px solid #FFE81F;
  font-size: 2rem;
  font-weight: 900;
  transform: perspective(300px) rotateX(25deg);
  transform-origin: 50% 100%;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  border-radius: 5px;
  font-family: starjout;
}

#learn_more:hover{
  background: #FFE81F;
  color: #212529;
  transform: perspective(100px) rotateX(28deg);
  transform-origin: 50% 100%;
}

#gallery{
  max-width: 90%;
  -webkit-column-count:4;
  -moz-column-count:4;
  column-count:4;
  
  -webkit-column-gap:30px;
  -moz-column-gap:30px;
  column-gap:30px;
  margin-bottom: 5rem;
}

@media (max-width:900px){
  #gallery{
    -webkit-column-count:2;
    -moz-column-count:2;
    column-count:2;
    
    -webkit-column-gap:20px;
    -moz-column-gap:20px;
    column-gap:20px;
  }
}

@media (max-width:600px){
  #gallery{
    -webkit-column-count:1;
    -moz-column-count:1;
    column-count:1;
  }  
}

#gallery img{
  width:100%;
  height:auto;
  margin: 4% auto;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#gallery img:hover{
  filter: grayscale(1);
}

figure{
  padding: 10px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 15px;
  text-align: center;
  margin-top: 20px;
}

figcaption{
  transform: perspective(300px) rotateX(25deg);
  transform-origin: 50% 100%;
  color: #FFE81F;
}

.modal-img{
  width:100%;
  height:auto;
}

.modal-body{
  padding:0px;
  background-color: #212529;
  padding: 10px;
  border-radius: 10px;
  border: 3px solid #212529;
}

.footer{
  position: static;
  bottom: 0;
  left: 0;
  padding: 3%;
  text-align: center;
  background: #212529;
  margin-top: 10rem;
}

.footer img{
  max-height: 100px;
}

.footer i{
  margin-left: 20px;
  font-size: 3rem;
}

.footer a:hover{
  color: #FFE81F;
}

.backgrnd{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  visibility: hidden;
}

#info{
  position: fixed;
  top: 10%;
  left: 35.5%;
  padding: 7rem;
  font-weight: 900;
  background-color: #FFE81F;
  color: #212529;
  border-radius: 25px;
}

#info .question1{
  font-size: 2.5rem;
  color: #212529 ;
}

#info .close{
  position: absolute;
  top: 10px;
  right: 10px;
  color: #212529;
}

#info .close:hover{
  opacity: 0.8;
}

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  display: block;
  display: none;
}

#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 23px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top:hover i {
  color: #FFE81F;
  top: 5px;
}
